<!DOCTYPE html>
<html lang="hu">
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://art-neko.hu" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="art-neko" />
    <meta property="og:description" content="art-neko weboldal" />
    <meta property="description" content="art-neko weboldal" />
  
    <title>art-neko</title>
  
    <link rel="stylesheet" href="css/style.css" />

    <script src="lib/d3.v5.min.js"></script>

  </head>
  <body>

    <svg id="chart" />
    <script src="lib/chart.js"></script>

  </body>
</html>