
/*

    Denwa no mori theme colors
    green: #889977
    blue: #E0E6FF
    brown: #523E37
    #404D34
    #E5B6A8

*/

body
{
    font-family: Candara, Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

h1
{
    font-weight: normal;
    margin-top: 0px;
}

h1.white
{
    color: white;
}

.section
{
    padding: 15px 2cm 15px 2cm;
    vertical-align: top;
}

.fullSection
{
    padding: 0px;
}

/* Section 1 video */
.video-block 
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0.6;
}

.video-block__overlay
{
}

.video-block__el 
{
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Section 1 centered text */
.page-header__headline 
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
    color: white;
}

.opening-logo
{
    float: left;
    width: 32%;
    padding-right: 1cm;
    padding-bottom: 1cm;
}
.opening-text
{
    float: left;
    width: 60%;
    text-align: left;
}

.opening-text h1
{
    margin-top: 10px;
}

.clearfix
{
    clear: both;
}

.workPhotos img
{
    display: block;
    max-height: 153px;
    float: left;
    padding: 2px;
}

/* Slider images */
.slide img
{
    height: 90%;
    display: block;
    margin: auto;
    padding: 1cm;
}

.poster 
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 90%;
    margin: 10px;
}
